{% extends "base_site.html" %}

{% block title %}Sistema Odorico{% endblock %}

{% block content %}
    <h2 style="color: dodgerblue;">O que é ?</h2>
    Odorico é um sistema de informação criado para auxiliar a gestão de Programas de Pós Graduação (PPG) no Brasil.<br/>
    <br/>
    O objetivo central é agilizar o preenchimento da Plataforma Sucupira, com o registro de docentes e discente e sua produção acadêmica através da importação automatizada dos dados registrados pelos pesquisadores na Plataforma Lattes. Dessa forma, o registro fica menos propenso a erros e estará integrado com o Qualis e com os projetos de pesquisa dos PPGs.
    Ao centralizar toda a produção acadêmica do programa em uma única base de dados, o Odorico permitirá cruzamentos e relatórios gerenciais que auxiliem a coordenação do PPG a registrar os dados no Sucupira.
    <br/>
    Além disso, o Odorico procura oferecer alguns serviços para a comunidade acadêmica (alunos e professores) a citar:
    <br/>
    <div>
    <ul>
        <li>Lista de Periódicos atualizado por área</li>
        <li>Mapa de Internacionalização: mostra os pesquisadores de um programa apresentaram trabalho pelo mundo</li>
        <li>Relação de Bancas e Defesas agendadas</li>
    </ul>
    </div>
    <br/>
    <small>Nota: O nome "Odorico" não tem nenhuma relação com o personagem de Dias Gomes que era o prefeito da cidade de Sucupira. Odorico é a sigla para <b>Organização Digital Ontológica e Repositório de Informação COlaborativa</b> de PPGs</small><br/>
    <br/>
    <h2 style="color: dodgerblue;">Quem desenvolve</h2>
    O sistema foi concebido pela COEPE/IBICT e pelos alunos e professores do <a href="http://www.ppgci.ufrj.br/">PPGCI IBICT/UFRJ</a> e pelo <a href="http://www.irdx.com.br">INSTITUTO RDX DE ENSINO</a>.<br/>
    <br/>
    <h2 style="color: dodgerblue;">Política de Informação</h2>
    O Sistema Odorico é regido por uma licença GPL 3.0, ou seja, é um software livre. Dessa forma, permite que qualquer pessoa possa baixar o seu código fonte, modificá-lo, distribuí-lo tendo a única restrição de que mantenha o software ou qualquer produto dele dentro da mesma licença.<br/>
    <br/>
    Acreditamos que o trabalho colaborativo que não involva as cercas da propriedade material é o verdadeiro motor para a inovação<br/>
    <br/>
    Dessa forma, convidamos a comunidade para que participe do desenvolvimento para que possamos gerar uma ferramenta porreta!<br/>
    <br/>
{% endblock %}