{% extends "admin:admin/base_site.html" %}
{% load static %}
{% block content %}
<div id="container">
    <div id="header">
        <div id="branding">
           <h1 id="site-name"><a href="/admin/">Odorico</a></h1>
        </div>
    </div>
    <!-- END Header -->
<!-- Content -->
    <div id="content" class="colM">
        <h1>Recuperar senha</h1>
<p>Esqueceu a senha? Forneça o seu endereço de email abaixo e te enviaremos instruções para definir uma nova.</p>
{{ form }}
        <br class="clear" />
    </div>
    <!-- END Content -->
    <div id="footer"></div>
</div>
{% endblock %}